Config:
  temp_folder: tmp
  backup_folder: /tmp/data-loader-backups

  neo4j:
    # Location of Neo4j server, e.g., bolt://127.0.0.1:7687
    uri: bolt://{{neo4j_ip}}:7687
    # Neo4j username
    user: neo4j
    # Neo4j password
    password: "{{neo4j_password}}"

  # Schema files' locations
  schema:
    - {{model_file1}}
    - {{model_file2}}

  plugins:
    - module: loader_plugins.visit_creator
      class: VisitCreator
    - module: loader_plugins.individual_creator
      class: IndividualCreator

  #Property file location
  prop_file: {{property_file}}

  # Skip validations, aka. Cheat Mode
  cheat_mode: {{cheat_mode}}
  # Validations only, skip loading
  dry_run: false
  # Wipe out database before loading, you'll lose all data!
  wipe_db: {{wipe_db}}
  # Skip backup step
  no_backup: false
  # Automatically confirm deletion and database wiping (without asking user to confirm)
  no_confirmation: true
  # Max violations to display, default is 10
  max_violations: 10
  split_transactions: {{split_transactions}}

  # S3 bucket name, if you are loading from an S3 bucket
  s3_bucket: {{data_bucket}}
  # S3 folder for dataset
  s3_folder: {{s3_folder}}
  # Loading mode, can be "upsert", "new" or "delete", default is "upsert"
  loading_mode: {{loading_mode}}
  # Location of dataset
  dataset: "{{s3_folder}}"
