Config:
  neo4j_uri: bolt://{{neo4j_ip}}:7687
  neo4j_user: neo4j
  neo4j_password: "{{ neo4j_password }}"
  es_host: {{ es_host }}
  about_file: {{ about_file }}
  model_files:
    - {{ model_file1 }}
    - {{ model_file2 }}

  prop_file: {{ property_file }}
  indices_list: {{ indices_list | default(None, true) }}
